{% extends 'base.html' %}
{% load filter_tags %}
{% block title %}R6K nodes info{% endblock %}
{% block css %}
<style>
    th{
        text-align: center;
    }
    #nodes-info{
        background-color: #3333;
    }
    #myBtn {
        display: none; /* 默认隐藏 */
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: red; /* 设置背景颜色，你可以设置自己想要的颜色或图片 */
        color: white; /* 文本颜色 */
        cursor: pointer;
        padding: 15px;
        border-radius: 10px; /* 圆角 */
    }
    #myBtn:hover {
        background-color: #555;
    }
</style>
{% endblock %}
{% block content %}
<div class="col-md-12">
<div id="main" class="pull-left" style="margin-left: -25px;">
<div class="container-fluid">
    <div class="row" style="margin-top: 55px;text-align: center">
        <div class="col-md-12">
            <div id="table0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="col-md-6 tableHeader" style="text-align: center;position: fixed">
                        <span class="navbar-left" style="display: inline;">Total:{{ total }}</span>
                        <i style="color: darkblue;font-size: 16px;">Node Info</i>
                    </div>
                    <input id="downData" class="navbar-left" type="button" value="Export" name="r6k" style="height: 20px;border-top: 0;position: fixed" onclick="downData();">
                </div>
                <table data-name="nodes_info" class="table table-striped table-bordered table-condensed dataTable no-footer"
                       id="table0" role="grid" aria-describedby="table0_info" style="table-layout:fixed;width: 3100px;margin-top: 20px">
                    <thead>
                    <tr role="row">
                        <form>
                            {% if filter_for_css %}
                                {% build_table_row filter_for_css filter_list %}
                            {% else %}
                            <th width="115px">
                                Show<select name="_s" id="show">
                                        <option value="10">10</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option value="-1">All</option>
                                    </select>
                            </th>
                            <th width="92px">
                                <select name="_tp" id="topo" style="width: 80px">
                                    <option></option>
                                    {% for topo in filter_list.topo_list %}
                                        <option value="{{ topo.topo }}">{{ topo.topo }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th width="67px">
                                <input type="text" name="_u" id="user" style="width: 55px;height: 19px;">
                            </th>
                            <th width="59px">
                                <select name="_l" id="line" style="width: 47px;">
                                    <option></option>
                                    {% for line in filter_list.line_list %}
                                        {% lineselect line.user__line %}
                                    {% endfor %}
                                </select>
                            </th>
                            <th width="102px">
                                <select name="_t" id="team" style="width: 90px;">
                                    <option></option>
                                    {% for team in filter_list.team_list %}
                                        <option value="{{ team.user__team }}">{{ team.user__team }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th width="67px">
                                <select name="_ty" id="type" style="width: 55px;">
                                    <option></option>
                                    {% for type in filter_list.type_list %}
                                        {% if type.type != None %}
                                            <option value="{{ type.type }}">{{ type.type }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </th>
                            <th width="78px">
                                <select name="_v" id="version" style="width: 66px;">
                                    <option></option>
                                    {% for version in filter_list.version_list %}
                                        {% if version.backplane != None %}
                                            <option value="{{ version.backplane }}">{{ version.backplane }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </th>
                            <th width="92px">
                                <select name="_loc" id="location" style="width: 80px;">
                                    <option></option>
                                    {% for location in filter_list.location_list %}
                                        <option value="{{ location.location }}">{{ location.location }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th width="77px">
                                <select name="_r" id="rack" style="width: 65px;">
                                    <option></option>
                                    {% for rack in filter_list.rack_list %}
                                        <option value="{{ rack.rack }}">{{ rack.rack }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th width="102px">
                                <input type="text" name="_b" id="bams" placeholder="search for bamsid" style="width: 90px;height: 19px">
                            </th>
                            <th width="112px"><input type="submit" style="height: 19px;text-align: center;font-size: smaller;vertical-align:middle" value="filter"></th>
                            <th width="67px">
                                <select name="_st" id="status" style="width: 55px;">
                                    <option></option>
                                    {% for status in filter_list.status_list %}
                                        {% statusselect status.status %}
                                    {% endfor %}
                                </select>
                            </th>
                            <th width="52px">
                                <select name="_m" id="status" style="width:40px;">
                                    <option></option>
                                    <option value="0">D</option>
                                    <option value="1">C</option>
                                </select>
                            </th>
                            <th width="352px">
                                <input type="text" name="_q" placeholder="search for hardware" id="hardware" style="height: 19px;width: 340px">
                            </th>
                            {% endif %}
                        </form>
                        <th width="88px"></th>
                        {% if date_list.0|date:"Y-m" == date_list.29|date:"Y-m" %}
                            <th style="text-align: center" class="noSort" colspan="30" rowspan="1"
                                data-original-title="" title="">{{ date_list.0|date:"Y-m" }}
                            </th>
                        {% else %}
                            <th style="text-align: center" class="noSort" colspan={{ pre_month_days }} rowspan="1"
                                    data-original-title="" title="">{{ date_list.0|date:"Y-m" }}
                                </th>
                            <th style="text-align: center" class="noSort" colspan="{{ date_list.29|date:"d" }}" rowspan="1"
                                data-original-title="" title="">{{ date_list.29|date:"Y-m" }}
                            </th>
                        {% endif %}
                        <th class="comments" rowspan="2" colspan="1" style="width: 151px;">Records</th>
                    </tr>
                    <tr>
                        <th rowspan="1" class="sorting" colspan="1" style="width: 120px;">IP Address</th>
                        <th rowspan="1" class="sorting" colspan="1" style="width: 80px">Topo</th>
                        <th rowspan="1" class="sorting" colspan="1" style="width: 55px">User</th>
                        <th rowspan="1" class="sorting" colspan="1" style="width: 41px">Line</th>
                        <th rowspan="1" class="sorting" colspan="1" style="width: 90px">Team</th>
                        <th rowspan="1" class="sorting" colspan="1" style="width: 55px">Type</th>
                        <th rowspan="1" class="sorting" colspan="1" style="width: 66px">Version</th>
                        <th rowspan="1" class="sorting" colspan="1" style="width: 80px">Location</th>
                        <th rowspan="1" class="sorting" colspan="1" style="width: 65px">Rack</th>
                        <th rowspan="1" class="sorting" colspan="1" style="width: 90px">BAMS Id</th>
                        <th rowspan="1" class="sorting" colspan="1" style="width: 80px">SN</th>
                        <th rowspan="1" class="sorting" colspan="1" style="width: 55px">Status</th>
                        <th rowspan="1" class="sorting" colspan="1" style="width: 40px">Mode</th>
                        <th rowspan="1" class="sorting" colspan="1" style="width: 387px">Hardware</th>
                        <th rowspan="1" class="sorting" colspan="1" style="width: 87px">Comments</th>
                        {% for date in date_list %}
                            {% if date.weekday == 6 or date.weekday == 5 %}
                                <th class="noSort weekend sorting_disabled" rowspan="1" colspan="1" aria-label="10"
                                data-original-title="" title="" style="width: 9px;background-color: yellow">{{ date|date:"d" }}
                            {% else %}
                                <th class="noSort weekend sorting_disabled" rowspan="1" colspan="1" aria-label="10"
                                data-original-title="" title="" style="width: 9px;">{{ date|date:"d" }}
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in nodes %}
                        <tr role="row" class="top">
                            <td style="display: none" nid="{{ row.nid }}"></td>
                            {% if request.session.user_info.eid and request.session.user_info.eid == row.node2user_set.first.uid.eid or request.session.user_info.superuser %}
                                <td style="display:table-cell; vertical-align:middle">
                                    <a class="editBtn" onclick="editNode(this);">{{ row.ip }}</a>
                                </td>
                            {% else %}
                                <td style="display:table-cell; vertical-align:middle">{{ row.ip }}</td>
                            {% endif %}
                            <td style="display: none" console="{{ row.console }}"></td>
                            <td style="display:table-cell; vertical-align:middle">{{ row.topo }}</td>
                            <td style="display:table-cell; vertical-align:middle">{{ row.node2user_set.first.uid.eid }}</td>
                            <td style="display: none">{{ row.username }}</td>
                            <td style="display: none">{{ row.password }}</td>
                            <td style="display:table-cell; vertical-align:middle">{{ row.node2user_set.first.uid.get_line_display }}</td>
                            <td style="display:table-cell; vertical-align:middle">{{ row.node2user_set.first.uid.team }}</td>
                            <td style="display:table-cell; vertical-align:middle">{{ row.type }}</td>
                            <td style="display:table-cell; vertical-align:middle">{{ row.backplane }}</td>
                            <td style="display:table-cell; vertical-align:middle">{{ row.location }}</td>
                            <td style="display:table-cell; vertical-align:middle">{{ row.rack }}</td>
                            <td style="display:table-cell; vertical-align:middle">{{ row.bams }}</td>
                            <td style="display:table-cell; vertical-align:middle">{{ row.sn }}</td>
                            <td style="display:table-cell; vertical-align:middle">{{ row.get_status_display }}</td>
                            <td style="display:table-cell; vertical-align:middle">{{ row.get_mode_display }}</td>
                            {#如果信息中带有回车，前端展示时分行#}
                            <td style="display:table-cell; vertical-align:middle">{{ row.hardware_info|linebreaksbr }}</td>
                            <td name="comments" nodeid="{{ row.nid }}" style="overflow:hidden;white-space:nowrap;text-overflow: ellipsis;vertical-align:middle" title="{{ row.comments }}">{{ row.comments }}</td>
                            {% for useage in row.useages %}
                                {% if useage.1 == 0.16 %}
                                    {% if useage.0.weekday == 6 or useage.0.weekday == 5 %}
                                        <td class="nodata" style="display:table-cell; vertical-align:middle;background-color: yellow">0</td>
                                    {% else %}
                                        <td class="nodata" style="display:table-cell; vertical-align:middle">0</td>
                                    {% endif %}
                                {% else %}
                                    {% if useage.0.weekday == 6 or useage.0.weekday == 5 %}
                                        <td class="nodata" style="display:table-cell; vertical-align:middle;background-color: yellow">{{ useage.1|floatformat:2 }}</td>
                                    {% else %}
                                        <td class="nodata" style="display:table-cell; vertical-align:middle">{{ useage.1|floatformat:2 }}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <td class="comments" style="width: 100px;font-size: small;">
                                <a href="/r6k/comment/{{ row.nid }}" class="fa-pull-right" style="margin-top: -8px">history</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% if filter_for_css %}
                <nav aria-label="Page navigation" class="navbar-left">
                    <ul class="pagination">
                        {% render_paginator filter_for_css nodes paginator pageRange current_num %}
                    </ul>
                </nav>
            {% else %}
                <nav aria-label="Page navigation" class="navbar-left">
                    <ul class="pagination">
                        <li><a href="?page=1" class="active"><span aria-hidden="true">First</span></a></li>
                        {% if nodes.has_previous %}
                            <li><a href="?page={{ nodes.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        {% else %}
                                <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        {% endif %}
                    {#  disabled是当你的按钮不满足的时候不可以点击了#}
                        {% for i in pageRange %}
                             {% if current_num == i %}
                                 <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                             {% else %}
                                 <li><a href="?page={{ i }}">{{ i }}</a></li>
                             {% endif %}
                        {% endfor %}
                        {% if nodes.has_next %}
                            <li><a href="?page={{ nodes.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        {% else %}
                            <li class="disabled"><a href="" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        {% endif %}
                        <li><a href="?page={{ paginator.num_pages }}" class="active"><span aria-hidden="true">Last</span></a></li>
                    </ul>
                </nav>
            {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div>
    <button onclick="topFunction()" id="myBtn">Back to Top</button>
</div>
    <div class="modal fade" id="editNode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit Node</h4>
                </div>
                <div class="modal-body">
                    <form id="fm" class="form-horizontal">
                        {% csrf_token %}
                        <input type="text" name="node_nid" value="" style="display: none">
                        <div class="form-group">
                            <label for="ip" class="col-sm-2 control-label">Node ip</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control test2" name="ip" value="">
                            </div>
                            <label for="console" class="col-sm-2 control-label">Console</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control test2" name="console" value="">
                            </div>
                            <label for="user" class="col-sm-2 control-label">User</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control test2" name="user" value="">
                            </div>
                            <label for="username" class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control test2" name="username" value="">
                            </div>
                            <label for="password" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control test2" name="password" value="">
                            </div>
                            <label for="location" class="col-sm-2 control-label">Location</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control test2" name="location" value="">
                            </div>
                            <label for="rack" class="col-sm-2 control-label">Rack</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control test2" name="rack" value="">
                            </div>
                            <label for="bams" class="col-sm-2 control-label">Bams</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control test2" name="bams" value="" readonly>
                            </div>
                            <label for="topo" class="col-sm-2 control-label">TopoName</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control test2" name="topo" value="">
                            </div>
                            {% if request.session.user_info.superuser %}
                                <label for="status" class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-9">
                                    <select name="status" id="status" class="form-control test2">
                                        <option value=""></option>
                                        <option value="0" selected>on line</option>
                                        <option value="3">release</option>
                                        <option value="4">unavailable</option>
                                        <option value="5">return to factory</option>
                                        <option value="6">abandoned</option>
                                    </select>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span id="errormsg" style="color: red"></span>
                    <button type="button" class="btn btn-default left" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="SaveChange">Save</button>
                </div>
            </div>
        </div>
    </div>
    {#add comment#}
    <div class="modal fade" id="addcomment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit Comments</h4>
                </div>
                <div class="modal-body">
                    <form id="fm" class="form-horizontal">
                        {% csrf_token %}
                        <input type="text" name="comment_nid" value="" style="display: none">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="comment" value="">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span id="errormsg" style="color: red"></span>
                    <button type="button" class="btn btn-default left" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="SaveComment">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        var nids=[];
        $('.top').each(function () {
            nids.push($(this).children().first().attr('nid'));
        });
        {#console.log(nids);#}
        $.ajax({
            url:'/r6k/get-comments',
            type:'POST',
            traditional:true,
            dataType:'JSON',
            data:{'nids':nids,'csrfmiddlewaretoken': $("[name = 'csrfmiddlewaretoken']").val()},
            success:function (arg) {
                //arg字符串
                //JSON.parse将字符串转换成字典，相当于python中的jason.load
                {#console.log(arg);#}
                var i=0;
                $('.top').each(function () {
                    {#console.log(arg[i]);#}
                     $(this).children().last().append(arg[i]);
                     i++;
                });
            }
        });
    });
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    function editNode(ths){
        $('#editNode').modal('show');
        var data={'nid':'','ip':'','console':'','user':'','username':'','password':'','location':'','rack':'','topo':''};
        data.nid=ths.parentElement.previousElementSibling.getAttribute('nid');
        data.ip=ths.innerHTML;
        data.console=ths.parentElement.nextElementSibling.getAttribute('console');
        data.topo=ths.parentElement.nextElementSibling.nextElementSibling.innerHTML;
        data.user=ths.parentElement.nextElementSibling.nextElementSibling.nextElementSibling.innerHTML;
        data.username=ths.parentElement.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.innerHTML;
        data.password=ths.parentElement.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.innerHTML;
        data.location=ths.parentElement.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.innerHTML;
        data.rack=ths.parentElement.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.innerHTML;
        data.bams=ths.parentElement.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.innerHTML;
        {#console.log(data);#}
        $("input[name='node_nid']").val(data.nid);
        $("input[name='ip']").val(data.ip);
        $("input[name='console']").val(data.console);
        $("input[name='user']").val(data.user);
        $("input[name='username']").val(data.username);
        $("input[name='password']").val(data.password);
        $("input[name='location']").val(data.location);
        $("input[name='rack']").val(data.rack);
        $("input[name='topo']").val(data.topo);
        $("input[name='bams']").val(data.bams);
        if(data.bams.length<10){
            {#console.log(data.bams.length);#}
            $("input[name='bams']").removeAttr("readonly");
        }
    }
    $('#SaveChange').click(function () {
       var postdata={};
        $('#editNode').find('input,select').each(function () {
            var v=$(this).val();
            var n=$(this).attr('name');
            postdata[n]=v;
        });
        {#console.log(postdata);#}
        $.ajax({
            url:'/r6k/edit-node',
            type:'POST',
            data:postdata,
            success:function (arg) {
                //arg字符串
                //JSON.parse将字符串转换成字典，相当于python中的jason.load
                var dict=JSON.parse(arg);
                if(dict.status){
                    window.location.reload();
                }else {
                    alert(dict.message);
                }
            }
        });
    });
    {% if request.session.user_info %}
        $('td[name="comments"]').dblclick(function(){
            $('#addcomment').modal('show');
            var data={'nid':'','comments':''};
            data.nid=$(this).attr('nodeid');
            data.comments=this.innerText;
            $("input[name='comment_nid']").val(data.nid);
            $("input[name='comment']").val(data.comments);
            {#console.log(data.nid,data.comments);#}
        });
        $('#SaveComment').click(function () {
           var postdata={};
           var nid=0;
            $('#addcomment').find('input').each(function () {
                var v=$(this).val();
                var n=$(this).attr('name');
                if(n=='comment_nid'){
                    nid=v;
                }else {
                    postdata[n]=v;
                }
            });
            {#console.log(nid,postdata);#}
            $.ajax({
                url:'/r6k/add-comment/'+String(nid),
                type:'POST',
                data:postdata,
                success:function (arg) {
                    //arg字符串
                    //JSON.parse将字符串转换成字典，相当于python中的jason.load
                    var dict=JSON.parse(arg);
                    if(dict){
                        window.location.reload();
                    }
                }
            });
        });
    {% endif %}
    function downData(){
        var data={};
        data['type'] =$("#downData").attr("name");
        data['_tp']=$("select[name='_tp']").val();
        data['_u']=$("input[name='_u']").val();
        data['_l']=$("select[name='_l']").val();
        data['_t']=$("select[name='_t']").val();
        data['_ty']=$("select[name='_ty']").val();
        data['_v']=$("select[name='_v']").val();
        data['_loc']=$("select[name='_loc']").val();
        data['_r']=$("select[name='_r']").val();
        data['_b']=$("input[name='_b']").val();
        data['_st']=$("select[name='_st']").val();
        data['_m']=$("select[name='_m']").val();
        data['_q']=$("input[name='_q']").val();
        {#console.log(data);#}
        $.ajax({
            type:'POST',
            url:'/BulidData/',
            dataType:'text',
            data:data,
            success:function(text){
                var url ='/download/'+text;
                window.location.href=url;
            },
            error:function(){
                alert('Export failed');
            }
        });
    }
    </script>
{% endblock %}